<DOCTYPE html>

  <head>
    <title>To Do Lists</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>

  <body>
<div>
      <div class="jumbotron">
        <h1>To Do List Generator</h1>
        <p class="lead">Keep track of all your lists, tasks, and to-dos!</p>
      </div>

    <div class="container">
      <%= yield %>
    </div>
  </div>
  </body>



</html>
