<h2>Add an new To-Do List:</h2>

<form action="/list/new" method="post">
  <label for="name">List Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add List</button>
</form>

<a class="btn btn-primary btn-md" href="/" role="button">Return Home</a>
