<h1><%= @list.name %></h1>

<p><ul>
  <% (@list.task()).each() do |task| %>
    <li><%= task.description() %></a></li>
  <% end %>
</ul>

<h2>Add an new Task to this List:</h2>

<form action="/task/new" method="post">
  <label for="description">Task Description:</label>
  <input id="description" name="description" type="text">
  <input id="list_id" name="list_id" type="hidden" value="<%= @list.id %>">


  <button type="submit">Add Task</button>
</form>


<a href='/'>Home</a>
<a href='/list/<%= @list.id() %>/edit'>Update list Name</a>
